.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  background-color: rgb(177, 177, 177);
}

.calculator-container{
  width: 16rem;
  min-height: 20rem;
  overflow: hidden;
  background-color: rgb(50, 50, 50);
  box-shadow: 0px 0px 20px rgb(81, 81, 81);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 59, 59);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  font-size:large;
  font-weight: bold;
}

.numbers-container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 12rem;
}

.buttons-container{
  display: flex;
}

.operators-container .button{
    background-color: orange;
}

.calculator-screen{
  text-align: right;
  padding: 1rem;
}

.calculator-expression{
  color: grey;
}

.button:active{
  background-color: rgb(54, 54, 54)
}

.operators-container .button:active{
  background-color: rgb(238, 155, 0);
}